*__pycache__*
*.pytest_cache*
.coverage
*.code-workspace
*checkpoint.ipynb
.idea/
.vscode/
*.pyc
temp.properties
temp/*
mlruns/*
pylint-report.txt
*.log
*.pyc
models/*/*/*/*.bin
models/*/*/*/*.msgpack
models/*/*/*/*.h5
models/*/*/*.bin
models/*/*/*.msgpack
models/*/*/*.h5
coverage_html_report/
old_*
.vs/*
